*{
  background-color: #4a6a5b;
  color:ghostwhite
}
h2{
  color: #e6d67d;
}
.link{
  color: #dacb93;
}
h1{
  color: #dacb93;
}
.welcome{
  text-align: center;
}
.image{
  margin-left: 480px;
}
.border{
  border: solid
}
.movies{
  color: #a8c7db;
}